<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.yi.java_web_female.dao.InsuranceMapper">
	
	<select id="selectInsuranceByAll" resultType="Insurance">
		select code, car_type, price
		from insurance;
	</select>

<!-- 	<resultMap type="Insurance" id="ResultInsurance">
		<id column="code" property="code"/>
		<result column="car_type" property="carType"/>
		<result column="price" property="price"/>
		<result column="car_code" property=""/>
	</resultMap> -->
	<select id="selectInsuranceByCarType" resultType="Insurance">
		select code, car_type, price
		from insurance
		where car_type = #{carType};
	</select>
</mapper>