<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.yi.java_web_female.dao.RentMapper">

	<select id="procedureRent" statementType="CALLABLE" parameterType="hashmap" resultType="Rent">
		{call update_customer_grade(#{custom_code, mode=IN, jdbcType=CHAR},#{rent_code, mode=IN, jdbcType=CHAR}, #{carCode, mode=IN, jdbcType=CHAR}, #{isGrade, mode = IN, jdbcType=INTEGER})}
	</select>

	
	<resultMap type="Rent" id="resultRent">
		<id column="rentCode" property="code" />
		<result column="carModelName" property="carCode.name" />
		<result column="customerCode" property="customerCode.code" />
		<result column="customerName" property="customerCode.name" />
		<result column="start_date" property="startDate"/>
		<result column="start_time" property="startTime" />
		<result column="end_date" property="endDate" />
		<result column="end_time" property="endTime" />
		<result column="is_return" property="isReturn" />
		<result column="insurance_code" property="insuranceCode.code" />
	</resultMap>
	
	<select id="selectRentByAll" resultType="Rent" resultMap="resultRent">
		select r.code as rentCode, cm.name as carModelName, c.code as customerCode, c.name as customerName, start_date, start_time, end_date, end_time, is_return, insurance_code
		from rent r join car_model cm on r.car_code = cm.car_code join customer c on r.costomer_code = c.code; 
	</select>
</mapper>