<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.yi.java_web_female.dao.TitleMapper">

	<select id="selectTitleByNo" parameterType="Title" resultType="Title">
		select code, name, t_grant as tGrant from title
		where code=#{code};
	</select>

	<select id="selectTitleByAll" resultType="Title">
		select code, name, t_grant as tGrant from title
	</select>

	<insert id="insertTitle" parameterType="Title">
		insert into Title(code, name, t_grant)
		values(#{code},	#{name}, #{tGrant})
	</insert>

	<update id="updateTitle" parameterType="Title">
		update title set code=#{code}, name=#{name}, t_grant=#{tGrant}
		where code=#{code};
	</update>
	
	<delete id="deleteTitle" parameterType="Title">
		delete from title
		where code=#{code};
	</delete>

</mapper>